@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --opensans: "Open Sans", sans-serif;
  --secondary: #562eff;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html,
body {
  font-family: var(--poppins);
  color: var(--secondary);
  background-color: #f3f1ff;
}
/* predefined classes  */
.container {
  width: 875px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.jce {
  justify-content: end;
}
.aic {
  align-items: center;
}
.w-100 {
  width: 100%;
}
/* nav css start  */
.logo {
  position: relative;
}
.logo img {
  width: 41px;
}
.logo span {
  color: #fff;
  font-size: 24px;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}
#navbar {
  background-color: var(--secondary);
  padding: 15px 0;
}
.navigation {
  align-items: center;
}
.navigation div {
  width: 50%;
}
.navlinks li {
  list-style: none;
  padding-left: 36px;
}
.navlinks li img {
  height: 58px;
  margin: auto 0;
}
.navlinks a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 5px;
}

.navlinks a:hover {
  color: var(--secondary);
  background: #ffffff;
}
/* top player and top blog  */
.titles {
  padding-bottom: 35px;
  font-size: 24px;
  font-weight: 500;
}
.box1 {
  background: #ffffff;
  margin-top: 36px;
  margin-bottom: 21px;
  padding: 33px 33px 42px 33px;
  border: 5px;
}
.playerinfo {
  padding-left: 16px;
  margin: auto 0;
}
.playerinfo h2 {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}
.playerinfo h4 {
  font-size: 10px;
  color: var(--secondary);
  font-weight: 500;
  text-transform: uppercase;
  transform: translateY(-5px);
  display: none;
}
.players img {
  width: 56px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.players div {
  align-items: center;
}
.players div:hover h4 {
  display: block;
  transform: translateY(0);
}

.top_player {
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
.top_blog {
  padding-top: 30px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  grid-column-gap: 40px;
}
.blog {
  display: flex;
}
.blog img {
  width: 125px;
}
.bloginfo {
  padding-left: 16px;
}
.bloginfo h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.bloginfo h6 {
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
}
/* ---------------
resposive design 
----------------- */
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .navigation {
    padding: 0 33px;
  }
  .box1 {
    margin: 0;
  }
}
@media screen and (max-width: 760px) {
  .navigation {
    padding: 0 10px;
  }
  .box1 {
    padding: 30px 10px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .playerinfo h2 {
    font-size: 14px;
  }
  .playerinfo h4 {
    display: block;
    transform: translateX(0);
  }
  .titles {
    font-size: 18px;
  }
}
/*------------------
 latest course css
 -------------------  */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 23px;
}
.course {
  padding: 16px 12px;
  box-shadow: 0px 5.34229px 13.3557px rgba(243, 241, 255, 1);
  border-radius: 13px;
}
.latest_course {
  background: #ffffff;
  margin-bottom: 28px;
  padding: 33px 33px 42px 33px;
  border: 5px;
}
.course img {
  width: 224px;
}
.course h2 {
  font-size: 20px;
  font-family: var(--roboto);
  font-weight: 500;
  color: #1e1e1e;
  line-height: 1.5em;
  padding: 15px 0;
}
.course h5 {
  font-size: 14px;
  font-family: var(--roboto);
  font-weight: 400;
  color: #ed6b4f;
  text-transform: capitalize;
}
.courseinfo {
  padding-top: 8px;
}
.light-on {
  color: #ffc014;
  font-size: 12px;
}
.light-off {
  color: #aeaeae;
  font-size: 12px;
}
.courser_rating span {
  font-size: 14px;
  color: #a2a2a2;
  padding-left: 10px;
}
.course_time {
  padding: 6px 10px;
  background: #ffe4e8;
  border-radius: 30px;
  color: #ff4a60;
}
.course_time span {
  font-family: var(--opensans);
  font-size: 14px;
  font-weight: 600;
}
.course:hover .course_time {
  background: #f3f1ff;
}
